<h1>Bill Comparison Demo</h1>

<p>
	This is the page where the Bill Comparison Demo will reside
</p>
<p>
	<% @zip = session[:current_zip] %>
	<% @demand = session[:current_demand] %>
	<% @usage = session[:current_usage] %>
	<% @date = session[:current_date] %>
	

	<br> <!-- enters a blank line, ie: line break -->
	Zip Code input: <%= @zip %>

	<br> <!-- enters a blank line, ie: line break -->
	Demand (kW) input: <%= @demand %> 

	<br> <!-- enters a blank line, ie: line break -->
	Usage (kWh) input: <%= @usage %>

	<br> <!-- enters a blank line, ie: line break -->
	Date input: <%= @date %>


</p>

<p>
	
	<br> <!-- enters a blank line, ie: line break -->
	Utility: <%= TariffUtility.utility(@zip) %>
	<br> <!-- enters a blank line, ie: line break -->
	Territory: <%= TariffTerritory.territory(@zip) %>
	<br> <!-- enters a blank line, ie: line break -->
	Season: <%= TariffSeason.season(@date, @zip) %>
</p>
